RewriteEngine On
RewriteRule ^bieren/([^/\.]+)/([^/\.]+)/?$ index.php?controller=bieren&method=$1&id=$2
RewriteRule ^bieren/([^/\.]+)/?$ index.php?controller=bieren&method=$1
RewriteRule ^([^/\.]+)/([^/\.]+)/([^/\.]+)/?$ index.php?controller=$1&method=$2&id=$3